@import '_variables';
@import 'mixins.scss';

/*=================================================================================================
DEFAULT COLORS
=================================================================================================*/



/*=================================================================================================
DEFAULT TYPOGRAPHY
=================================================================================================*/

* {
	font-family: $font-text;
}

:root {

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	// @apply font-display;
}

.h1 {
	font-weight: bold;
	@apply text-h1;
}

.h2 {
	font-weight: bold;
	@apply text-h2;
}

.h3 {
	font-weight: bold;
	@apply text-h3;
}

.h4 {
	font-weight: bold;
	@apply text-h4;
}

.h5 {
	letter-spacing: .25rem;
	@apply text-h5 uppercase;
}

.h6 {
	letter-spacing: 1px;
	@apply text-h6 uppercase;
}

p,
label,
input,
select,
li {
	@apply text-base text-gray-500 font-base;
}

p {
	@apply my-2;
}

.btn {
	@apply text-button;
}

/*=================================================================================================
DEFAULT FOOTER
=================================================================================================*/

footer {
	@apply py-6 bg-gray-900;

	p {
		@apply text-white text-opacity-80;

		a {
			font-weight: bold;
			@apply hover:text-opacity-100;
		}
	}
}

/*=================================================================================================
DEFAULT CARD
=================================================================================================*/

.card {
	@apply bg-white rounded-xl shadow-lg relative;

	&.--flat {
		@apply shadow-none border border-gray-300;
	}

	&.--withError {
		@apply border-red;
	}

}

/*=================================================================================================
LIST
=================================================================================================*/

ul.list {
	list-style: none;
	@apply my-2;

	li {
		@apply relative;
	}

	&.--classic {
		li {
			@apply py-2 border-b flex justify-items-stretch gap-2;

			& > * {
				flex: 1;
			}

			strong {
				@apply text-gray-600;
			}

			&:first-child {
				@apply pt-0;
			}

			&:last-child {
				@apply border-none pb-0;
			}
		}
	}

	&.--bullets {
		li {
			@apply pl-4 my-2;

			&:after {
				content: '';
				display: block;
				position: absolute;
				pointer-events: none;
				width: 1rem;
				height: 2px;
				top: 0.7em;
				left: 0;
				@apply bg-gray-400;
			}
		}
	}
}
